@use 'reset';

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #1a1a1a;
  h1 {
    font-size: 41px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 31px;
  }
  h4 {
    font-size: 26px;
  }
  h5 {
    font-size: 21px;
  }
  h6 {
    font-size: 16px;
  }
}
